### Introduction
This notebook demonstrates various selection and indexing techniques in pandas to handle data efficiently. We use a traffic dataset for this example.

### Importing Libraries
Here, we import pandas, a powerful library for data manipulation and analysis.

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount ('/content/drive')
%cd '/content/drive/My Drive/T5/week 1/day_2'

Mounted at /content/drive
/content/drive/My Drive/T5/week 1/day_2

### Loading Data
We load the data from a CSV file into a pandas DataFrame. A DataFrame is a 2-dimensional labeled data structure.

In [3]:
df = pd.read_csv('Datasets/Traffic.csv')

### Viewing Data
Using the `head()` function, we can view the first few rows of our DataFrame to understand its structure and the data it contains.

In [ ]:
df.head()

,Time,Date,Day of the week,CarCount,BikeCount,BusCount,TruckCount,Total,Traffic Situation
0,12:00:00 AM,10,Tuesday,13,2,2,24,41,normal
1,12:15:00 AM,10,Tuesday,14,1,1,36,52,normal
2,12:30:00 AM,10,Tuesday,10,2,2,32,46,normal
3,12:45:00 AM,10,Tuesday,10,2,2,36,50,normal
4,1:00:00 AM,10,Tuesday,11,2,1,34,48,normal

### Accessing Column Data
To access data from a single column, you use the column's label.

In [ ]:
df['Day of the week']

0        Tuesday
1        Tuesday
2        Tuesday
3        Tuesday
4        Tuesday
          ...
5947    Thursday
5948    Thursday
5949    Thursday
5950    Thursday
5951    Thursday
Name: Day of the week, Length: 5952, dtype: object

### Selecting Multiple Columns
You can select multiple columns from a DataFrame by passing a list of column names.

In [ ]:
df[['Time', 'Date','Day of the week']]

             Time  Date Day of the week
0     12:00:00 AM    10         Tuesday
1     12:15:00 AM    10         Tuesday
2     12:30:00 AM    10         Tuesday
3     12:45:00 AM    10         Tuesday
4      1:00:00 AM    10         Tuesday
...           ...   ...             ...
5947  10:45:00 PM     9        Thursday
5948  11:00:00 PM     9        Thursday
5949  11:15:00 PM     9        Thursday
5950  11:30:00 PM     9        Thursday
5951  11:45:00 PM     9        Thursday

[5952 rows x 3 columns]

### Using iloc for Index-Based Selection
The `iloc` method is used for index-based selection, allowing us to select rows and columns by their integer index.

In [4]:
df.iloc[5]

Time                 1:15:00 AM
Date                         10
Day of the week         Tuesday
CarCount                     15
BikeCount                     1
BusCount                      1
TruckCount                   39
Total                        56
Traffic Situation        normal
Name: 5, dtype: object

In [ ]:
df.iloc[5:10]

,Time,Date,Day of the week,CarCount,BikeCount,BusCount,TruckCount,Total,Traffic Situation
5,1:15:00 AM,10,Tuesday,15,1,1,39,56,normal
6,1:30:00 AM,10,Tuesday,14,2,2,27,45,normal
7,1:45:00 AM,10,Tuesday,13,2,1,20,36,normal
8,2:00:00 AM,10,Tuesday,7,0,0,26,33,normal
9,2:15:00 AM,10,Tuesday,13,0,0,34,47,normal

### Using loc for Label-Based Selection
The `loc` method allows for label-based selection. This example demonstrates selecting data by multi-index labels.

In [ ]:
df.loc[5:10, ['Date', 'Time']]

    Date        Time
5     10  1:15:00 AM
6     10  1:30:00 AM
7     10  1:45:00 AM
8     10  2:00:00 AM
9     10  2:15:00 AM
10    10  2:30:00 AM

In [ ]:
df = df.set_index(['Day of the week', 'Time'])
df.loc[('Monday', '12:00:00 AM')]

/var/folders/zt/v974cnxd4kl2fd8x60bgmdqh0000gn/T/ipykernel_4352/2670919417.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  df.loc[('Monday', '12:00:00 AM')]

                             Date  CarCount  BikeCount  BusCount  TruckCount  \
Day of the week Time
Monday          12:00:00 AM    16        11          2         2          39
                12:00:00 AM    23        15          1         0          37
                12:00:00 AM    30        14          2         0          33
                12:00:00 AM     6         9          2         0          27
                12:00:00 AM    16        18          4         1          28
                12:00:00 AM    23        13          2         1          17
                12:00:00 AM    30        13          3         1          12
                12:00:00 AM     6        11          3         0          26

                             Total Traffic Situation
Day of the week Time
Monday          12:00:00 AM     54            normal
                12:00:00 AM     53            normal
                12:00:00 AM     49            normal
                12:00:00 AM     38            normal
                12:00:00 AM     51            normal
                12:00:00 AM     33               low
                12:00:00 AM     29               low
                12:00:00 AM     40            normal

### Resetting Index
Resetting the index of a DataFrame can simplify data handling, especially after operations that may create a hierarchical index.

In [ ]:
df = df.reset_index()

### Conditional Selection Using loc
We can perform conditional selection using `loc` to select rows based on a specific condition.

In [ ]:
df[df['Total'] > 250]

,Day of the week,Time,Date,CarCount,BikeCount,BusCount,TruckCount,Total,Traffic Situation
3303,Friday,9:45:00 AM,13,171,59,27,3,260,heavy
3307,Friday,10:45:00 AM,13,178,68,28,4,278,heavy
3308,Friday,11:00:00 AM,13,169,70,20,3,262,heavy
3311,Friday,11:45:00 AM,13,179,46,27,3,255,heavy
3315,Friday,12:45:00 PM,13,174,67,30,1,272,heavy
3318,Friday,1:30:00 PM,13,175,63,19,3,260,heavy
3319,Friday,1:45:00 PM,13,172,62,20,2,256,heavy
3321,Friday,2:15:00 PM,13,172,65,18,2,257,heavy
3974,Friday,9:30:00 AM,20,170,62,18,2,252,heavy
3976,Friday,10:00:00 AM,20,166,63,22,1,252,heavy
3986,Friday,12:30:00 PM,20,173,63,13,2,251,heavy
3991,Friday,1:45:00 PM,20,168,59,24,1,252,heavy
3993,Friday,2:15:00 PM,20,179,63,12,2,256,heavy
4646,Friday,9:30:00 AM,27,180,69,29,1,279,heavy
4648,Friday,10:00:00 AM,27,167,60,27,3,257,heavy
4650,Friday,10:30:00 AM,27,180,62,26,4,272,heavy
5319,Friday,9:45:00 AM,3,168,68,27,2,265,heavy
5333,Friday,1:15:00 PM,3,174,54,25,1,254,heavy
5340,Friday,3:00:00 PM,3,179,60,12,0,251,heavy

### Conditional Selection Using query
The `query` method allows for filtering data using a condition, similar to the conditional selection but often more readable and concise.

In [ ]:
df.query('Total > 250')

,Day of the week,Time,Date,CarCount,BikeCount,BusCount,TruckCount,Total,Traffic Situation
3303,Friday,9:45:00 AM,13,171,59,27,3,260,heavy
3307,Friday,10:45:00 AM,13,178,68,28,4,278,heavy
3308,Friday,11:00:00 AM,13,169,70,20,3,262,heavy
3311,Friday,11:45:00 AM,13,179,46,27,3,255,heavy
3315,Friday,12:45:00 PM,13,174,67,30,1,272,heavy
3318,Friday,1:30:00 PM,13,175,63,19,3,260,heavy
3319,Friday,1:45:00 PM,13,172,62,20,2,256,heavy
3321,Friday,2:15:00 PM,13,172,65,18,2,257,heavy
3974,Friday,9:30:00 AM,20,170,62,18,2,252,heavy
3976,Friday,10:00:00 AM,20,166,63,22,1,252,heavy
3986,Friday,12:30:00 PM,20,173,63,13,2,251,heavy
3991,Friday,1:45:00 PM,20,168,59,24,1,252,heavy
3993,Friday,2:15:00 PM,20,179,63,12,2,256,heavy
4646,Friday,9:30:00 AM,27,180,69,29,1,279,heavy
4648,Friday,10:00:00 AM,27,167,60,27,3,257,heavy
4650,Friday,10:30:00 AM,27,180,62,26,4,272,heavy
5319,Friday,9:45:00 AM,3,168,68,27,2,265,heavy
5333,Friday,1:15:00 PM,3,174,54,25,1,254,heavy
5340,Friday,3:00:00 PM,3,179,60,12,0,251,heavy